html, body {
	width: 100%;
	height: 100%;
}

.innerContent {
	width: 80%;
	height: 100%;
	margin: auto;
}

.container {
	width: 50%;
	height: 100%;
	margin: 0%;
	overflow-y: scroll;
	text-align: center;
	float: left;
}

.container input {
	width: 60%;
	margin: 2.5% 17%;
	padding: 1.3%;
}

.container label {
	width: 50%;
}

.container label input {
	width: 5%;
	margin: 2.5% 3%;
}
